<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <header class="header1">
        <a href="index.html"><h1 class="hheader">SAYZOU</h1></a>
        <ul>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="product.html">product</a></li>
            <li><a href="services.html">Service</a></li>
            <li><a href="why us.html">Why Us</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </header>
    <section>
        <h1 class="h">About US</h1>
        <div class="div">

        </div>
        <div class="div1">
            <h1 class="hh"></h1>
            <p class="p">My name is Youssef Zounid. I am 17 years old, and during my studies during these months, the first and second months, I learned a lot of things, and God willing, I will learn something after a little until professionalism,Inchallah. I am a website front-end developer and website designer, in addition to studying programming at the Atlantic Foundation.
                My name is Salem Jaa. I am 18 years old, and I am still learning programming little by little. I am also a front-end developer for websites and a web designer. Even during my education during this period, I learned a lot of things and I will learn little by little until I become professional, Inchallah.       
            </p>
            <button class="btn">View All</button>
        </div>

        <h1 class="hhh">Our</h1>
        <h1 class="hhhh">Team</h1>
        <div class="zounid-jaa">
            <div class="zounid">
                <div class="y"></div>
                <div class="z">
                    <h2>Youssef Zounid</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/youssef.zou.94"><i class="fa fa-facebook" id="fb"></i></a></li>
                        <li><a href="https://github.com/dexter-999?tab=repositories"><i class="fa fa-github"></i></a></li>
                        <li><i class="fa fa-youtube" id="yt"></i></li>
                        <li><a href="https://www.instagram.com/you_ssefzou?igsh=aTR1ejNkazkxOWx4"><i class="fa fa-instagram" id="ins"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="jaa">
                <div class="s"></div>
                <div class="j">
                    <h2>Salem Jaa</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=61565792262021"><i class="fa fa-facebook" id="fb"></i></a></li>
                        <li><a href="https://github.com/dexter-999?tab=repositories"><i class="fa fa-github"></i></a></li>
                        <li><i class="fa fa-youtube" id="yt"></i></li>
                        <li><a href="https://www.instagram.com/jaasalem?igsh=Y2VuOWlkMWg3MG80"><i class="fa fa-instagram" id="ins"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="f1">
            <h1 class="h7">Adrress</h1>
            <li><i class="fa fa-home"></i><a href="#"> Location</a></li><br>
            <li><i class="fa fa-phone"></i> <a href=""> +01 12345678910</a></li><br>
            <li><i class="fa fa-envelope"></i><a href="#"> demo@gmail.com</a></li><br>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-youtube"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </div>
        <div class="f2">
            <h1 class="h8">Info</h1> 
            <p class="pinfo">necessary, making thisthe first <br> truegenerator on the Internet. It uses <br>a dictionary of over 200  Latin words, <br> combined with a handful</p>
        </div>
        <div class="f3">  
            <h1 class="h9">Links</h1>
            <p><a href="index.html">Home</a></p>
            <p><a href="about.html">About</a></p>
            <p><a href="services.html">Services</a></p>
            <p><a href="why us.html">Why Us</a></p>
            <p><a href="product.html">product</a></p>
            <p><a href="contact.html">contact</a></p>
        </div>
        <div class="f4">
            <h1 class="h10">Subscribe</h1>
        </div>
    </footer>
</body>
</html>