<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/webkul-micron@1.1.6/dist/css/micron.min.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/webkul-micron@1.1.6/dist/script/micron.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="header1">
        <a href="index.html"><h1 class="hheader">SAYZOU</h1></a>
        <ul>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="product.html">product</a></li>
            <li><a href="services.html">Service</a></li>
            <li><a href="why us.html">Why Us</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </header>
    <header class="header2">
        <ul>
            <li><a href="#mywebp">Web programing</a></li>
            <li><a href="#mywebd">Web Design</a></li>
            <li><a href="#myjQuery">jQuery</a></li>
            <li><a href="#myajax">Ajax</a></li>
            <li><a href="#myphp">PHP</a></li>
            <li><a href="#myseo">Seo</a></li>
        </ul>
    </header>
    <section class="sect1">
        <div id="d1" data-micron="squeeze">

        </div>
        <div class="d1d1">
            <h1 class="h1" id="myseo">Seo</h1>
            <p class="p1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius itaque ipsam facilis id blanditiis officia, mollitia esse rerum aut sunt delectus! Corrupti similique iusto quia nisi fugiat quibusdam error qui aperiam! Quidem, quod! Aliquid, totam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos voluptas doloribus eligendi quidem atque ex dicta praesentium dolore, expedita eum.</p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="d2" data-micron="squeeze">

        </div>
        <div class="d2d2">
            <h1 class="h2" id="myphp">PHP</h1>
            <p class="p2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius itaque ipsam facilis id blanditiis officia, mollitia esse rerum aut sunt delectus! Corrupti similique iusto quia nisi fugiat quibusdam error qui aperiam! Quidem, quod! Aliquid, totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima soluta error ea beatae sed sint atque exercitationem. Hic, officia.</p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="d3" data-micron="squeeze">

        </div>
        <div class="d3d3">
            <h1 class="h3" id="myajax">Ajax</h1>
            <p class="p3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius itaque ipsam facilis id blanditiis officia, mollitia esse rerum aut sunt delectus! Corrupti similique iusto quia nisi fugiat quibusdam error qui aperiam! Quidem, quod! Aliquid, totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima soluta error ea beatae sed sint atque exercitationem. Hic, officia.</p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="d4" data-micron="squeeze">

        </div>
        <div class="d4d4">
            <h1 class="h4" id="myjQuery">jQuery</h1>
            <p class="p4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius itaque ipsam facilis id blanditiis officia, mollitia esse rerum aut sunt delectus! Corrupti similique iusto quia nisi fugiat quibusdam error qui aperiam! Quidem, quod! Aliquid, totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima soluta error ea beatae sed sint atque exercitationem. Hic, officia.</p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="d5" data-micron="squeeze">

        </div>
        <div class="d5d5">
            <h1 class="h5" id="mywebd">Web Design</h1>
            <p class="p5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius itaque ipsam facilis id blanditiis officia, mollitia esse rerum aut sunt delectus! Corrupti similique iusto quia nisi fugiat quibusdam error qui aperiam! Quidem, quod! Aliquid, totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima soluta error ea beatae sed sint atque exercitationem. Hic, officia.</p>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="d6" data-micron="squeeze">

        </div>
        <div class="d6d6">
            <h1 class="h6" id="mywebp">Web programming</h1>
            <p class="p6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius itaque ipsam facilis id blanditiis officia, mollitia esse rerum aut sunt delectus! Corrupti similique iusto quia nisi fugiat quibusdam error qui aperiam! Quidem, quod! Aliquid, totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima soluta error ea beatae sed sint atque exercitationem. Hic, officia.</p>
        </div>
    </section>
    <br><br>
    <footer>
        <div class="f1">
            <h1 class="h7">Adrress</h1>
            <li><i class="fa fa-home"></i><a href="#"> Location</a></li><br>
            <li><i class="fa fa-phone"></i> <a href=""> +01 12345678910</a></li><br>
            <li><i class="fa fa-envelope"></i><a href="#"> demo@gmail.com</a></li><br>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-youtube"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </div>
        <div class="f2">
            <h1 class="h8">Info</h1> 
            <p class="pinfo">necessary, making thisthe first <br> truegenerator on the Internet. It uses <br>a dictionary of over 200  Latin words, <br> combined with a handful</p>
        </div>
        <div class="f3">  
            <h1 class="h9">Links</h1>
            <p><a href="index.html">Home</a></p>
            <p><a href="about.html">About</a></p>
            <p><a href="services.html">Services</a></p>
            <p><a href="why us.html">Why Us</a></p>
            <p><a href="product.html">product</a></p>
            <p><a href="contact.html">Contact</a></p>
        </div>
        <div class="f4">
            <h1 class="h10">Subscribe</h1>
        </div>
    </footer>

    <!-- <script src="../js/index.js"></script> -->
</body>
</html>