<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <section>
        <h1>L O g i n</h1>
        <form action="../template/index.html">
            <label>Full name</label>
            <br><br>
            <input type="text" id="inp-c" placeholder="     Enter your name" required >
            <br><br>
            <label>passWord</label>
            <br><br>
            <input type="password" id="inp-c" placeholder="     password" required >
            <br><br><br><br><br>
            <button type="submit" id="btn-c">Connexion</button>
        </form>
        <br><br><br>
        <a href="../template/sign up.html" class="a1">CrEate an Accounnt</a>
        <a href="../template/register.html" class="a2">FOrget password</a>
    </section>
</body>
</html>