<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
</head>
<body>
    <header class="header1">
        <a href="index.html"><h1 class="hheader">SAYZOU</h1></a>
        <ul>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="product.html">product</a></li>
            <li><a href="services.html">Service</a></li>
            <li><a href="why us.html">Why Us</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </header>
    <section>
        <h1 class="hh1">Products</h1>
        <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum neque odit provident<br> rerum amet cum ratione ipsum non repellat laborum?</p>
        <br><br>
        <div class="youssef-salem">
            <div class="y">
                <div class="ysf"></div>
                <h2>T-Shirt HAKIMI</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ad? No</p>
                <h1>20.0$</h1>
                <button type="button" id="btn" onclick="og();">INFORMATION</button>
            </div>
            <div class="s">
                <div class="slm"></div>
                <h2>T-Shirt BRAHIM</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ad? No</p>
                <h1>20.0$</h1>
                <button type="button" id="btn" onclick="go();">INFORMATION</button>
            </div>
            <div class="ys">
                <div class="hhh"></div>
                <h2>T-Shirt NESIRY</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ad? No</p>
                <h1>20.0$</h1>
                <button type="button" id="btn" onclick="ok();">INFORMATION</button>
            </div>
        </div>
        <br><br><br><br>
        <div class="zounid-jaa">
            <div class="z">
                <div class="znd"></div>
                <h2>T-Shirt Boufal</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ad? No</p>
                <h1>20.0$</h1>
                <button type="button" id="btn" onclick="kio();">INFORMATION</button>
            </div>
            <div class="j">
                <div class="ja"></div>
                <h2>T-Shirt OUNAHI</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ad? No</p>
                <h1>20.0$</h1>
                <button type="button" id="btn" onclick="gio();">INFORMATION</button>
            </div>
            <div class="zj">
                <div class="hh"></div>
                <h2>T-Shirt SAIS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ad? No</p>
                <h1>20.0$</h1>
                <button type="button" id="btn" onclick="okk();">INFORMATIONS</button>
            </div>
        </div>
        <br><br><br><br>
        <div class="tsawr"></div>
    </section>
    <br><br><br>
    <footer>
        <div class="f1">
            <h1 class="h7">Adrress</h1>
            <li><i class="fa fa-home"></i><a href="#"> Location</a></li><br>
            <li><i class="fa fa-phone"></i> <a href=""> +01 12345678910</a></li><br>
            <li><i class="fa fa-envelope"></i><a href="#"> demo@gmail.com</a></li><br>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-youtube"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </div>
        <div class="f2">
            <h1 class="h8">Info</h1> 
            <p class="pinfo">necessary, making thisthe first <br> truegenerator on the Internet. It uses <br>a dictionary of over 200  Latin words, <br> combined with a handful</p>
        </div>
        <div class="f3">  
            <h1 class="h9">Links</h1>
            <p><a href="index.html">Home</a></p>
            <p><a href="about.html">About</a></p>
            <p><a href="services.html">Services</a></p>
            <p><a href="why us.html">Why Us</a></p>
            <p><a href="product.html">product</a></p>
            <p><a href="contact.html">contact</a></p>        
        </div>
        <div class="f4">
            <h1 class="h10">Subscribe</h1>
        </div>
    </footer>
    <script src="../js/product.js"></script>
</body>
</html>