<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <section>
        <h1>Type yuor email or your phone-number</h1>
        <form>
            <input type="email" id="inp-c" placeholder="     Example@***.com" required >
            <br><br><br><br><br>
            <button type="submit" id="btn-c">Verify email</button>
        </form>
        <br><br><br>
        <a href="../template/login.html" class="a1">LOgin with Password</a>
    </section>
</body>
</html>