<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/services.css">
</head>
<body>
    <header class="header1">
        <a href="index.html"><h1 class="hheader">SAYZOU</h1></a>
        <ul>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="product.html">product</a></li>
            <li><a href="services.html">Service</a></li>
            <li><a href="why us.html">Why Us</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </header>
<section>
    <div class="div">  
        <div class="d1">
            <img src="../media/s1.png">
            <div>
                <h3>CURRENCY WALLET</h3>
                <p class="p">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Iusto iure ab nostrum minimaquo.Error
                tempore<br> libero vel
                labore blanditiis.
                </p>
            </div>
        </div>
        <div class="d2">
            <img src="../media/s2.png">
            <div>
                <h3>SECURITY STORAGE</h3>
                <p class="p">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Iusto iure ab nostrum minimaquo.Error tempore 
                <br>vellabore blanditiis.
                </p>
            </div>
        </div>
        <div class="d3">
            <img src="../media/s3.png">
            <div>
                <h3>EXPERT SUPPORT</h3>
                <p class="p">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Iusto iure ab nostrum minimaquo.Error tempore
                <br> libero vellabore blanditiis.
                </p>
            </div>
        </div>
    </div>
    <button type="button" id="btn">Submit</button>
</section>
<footer>
    <div class="f1">
        <h1 class="h7">Adrress</h1>
        <li><i class="fa fa-home"></i><a href="#"> Location</a></li><br>
        <li><i class="fa fa-phone"></i> <a href=""> +01 12345678910</a></li><br>
        <li><i class="fa fa-envelope"></i><a href="#"> demo@gmail.com</a></li><br>
        <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-youtube"></i></li>
            <li><i class="fa fa-instagram"></i></li>
        </ul>
    </div>
    <div class="f2">
        <h1 class="h8">Info</h1> 
        <p class="pinfo">necessary, making thisthe first <br> truegenerator on the Internet. It uses <br>a dictionary of over 200  Latin words, <br> combined with a handful</p>
    </div>
    <div class="f3">  
        <h1 class="h9">Links</h1>
        <p><a href="index.html">Home</a></p>
        <p><a href="about.html">About</a></p>
        <p><a href="services.html">Services</a></p>
        <p><a href="why us.html">Why Us</a></p>
        <p><a href="product.html">product</a></p>
        <p><a href="contact.html">contact</a></p>
    </div>
    <div class="f4">
        <h1 class="h10">Subscribe</h1>
    </div>
</footer>
<script src="../js/services.js"></script>
</body>
</html>