<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sign up.css">
</head>
<body>
    <section>
        <h1>Create an Account</h1>
        <form action="index.html">
            <label>Full name</label>
            <br><br>
            <input type="text" id="inp-c" placeholder="     Enter your name" required >
            <br><br>
            <label>Your Email</label>
            <br><br>
            <input type="email" id="inp-c" placeholder="     Example@***.com" required >
            <br><br>
            <label>Confirm Email</label>
            <br><br>
            <input type="email" id="inp-c" placeholder="      Example@***.com" required >
            <br><br>
            <label>PassWord</label>
            <br><br>
            <input type="password" id="inp-c" placeholder="     Password" required >
            <br><br>
            <label>Iam</label>
            <input type="radio" id="inp1" name="sbika">Mal
            <input type="radio" id="inp1" name="sbika">Femelle
            <br><br>
            <label>BIrth-Date</label>
            <br><br>
            <input type="date" id="inp-c" placeholder="     BirthDate" required >
            <br><br><br><br><br>
            <button type="submit" id="btn-c">Sign Up</button>
        </form>
        <br><br><br>
        <a href="login.html" class="a1">LOgin with Password</a>
    </section>
</body>
</html>